<section class="pioneer-page-hero" style="--page-hero-image: url('/assets/images/banner/5.jpeg');">
  <div class="container-lg">
    <div class="pioneer-page-hero__content fade-up">
      <span class="pioneer-page-hero__tag">(Blog)</span>
      <h1 class="pioneer-page-hero__title elicyon">Pioneer journal and insights</h1>
      <p class="pioneer-page-hero__text">Read practical notes on home decor materials, decorative films, interior louvers, WPC doors, frames, and baffles.</p>
      <a class="btn-quinary pioneer-page-hero__button" href="#blog-list">
        <span class="btn-animated-text" data-text="Read Articles">Read Articles</span>
      </a>
    </div>
  </div>
</section>

      <section class="journal-section pt-140 pb-140 bg-alt-2" id="blog-list">
        <div class="container-lg">
          <div class="row gutter-30">
            <% blogPosts.forEach((post) => { %>
              <div class="col-12 col-md-6 col-xl-3 fade-up">
                <%- include('../../partials/blog-card', { post }) %>
              </div>
            <% }); %>
          </div>
        </div>
      </section>
