<section class="pioneer-page-hero" style="--page-hero-image: url('/assets/images/banner/5.jpeg');">
  <div class="container-lg">
    <div class="pioneer-page-hero__content fade-up">
      <span class="pioneer-page-hero__tag">(Gallery)</span>
      <h1 class="pioneer-page-hero__title elicyon">Pioneer applications</h1>
      <p class="pioneer-page-hero__text">A closer look at decorative films, interior louvers, WPC doors, frames, and baffle applications.</p>
      <a class="btn-quinary pioneer-page-hero__button" href="#gallery-list">
        <span class="btn-animated-text" data-text="View Gallery">View Gallery</span>
      </a>
    </div>
  </div>
</section>

      <section class="ideas-inspiration pt-140 pb-140 bg-alt-2" id="gallery-list">
        <div class="container-lg">
          <div class="row">
            <% galleryItems.forEach((item) => { %>
              <div class="col-lg-4">
                <%- include('../partials/gallery-card', { item, galleryGroup: 'gallery-page' }) %>
              </div>
            <% }); %>
          </div>
        </div>
      </section>
