<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.webp" type="image/x-icon" />
    <title>Gallery | Pioneer Flex</title>
    <meta
      name="description"
      content="Explore Pioneer Flex product applications across signage, decor, tapes, and industrial PVC laminated solutions."
    />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/fonts/css/all.min.css" />
    <link rel="stylesheet" href="assets/fonts/css/tabler-icons.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />
    <link rel="stylesheet" href="assets/css/odometer.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/product.css" />
    <link rel="stylesheet" href="assets/css/image-lightbox.css?v=1" />
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('partials/header') %>

      <%- include('partials/page-hero', {
        tag: '(Gallery)',
        title: 'Pioneer applications',
        text: 'A closer look at signage materials, decorative PVC surfaces, interior applications, and industrial product finishes.',
        image: 'assets/images/banner/5.jpeg',
        buttonText: 'View Gallery',
        buttonLink: '#gallery-list'
      }) %>

      <section class="ideas-inspiration pt-140 pb-140 bg-alt-2" id="gallery-list">
        <div class="container-lg">
          <div class="row">
            <% galleryItems.forEach((item) => { %>
              <div class="col-lg-4">
                <%- include('partials/gallery-card', { item, galleryGroup: 'gallery-page' }) %>
              </div>
            <% }); %>
          </div>
        </div>
      </section>

      <%- include('partials/footer') %>
    </div>

    <script src="assets/js/jquery-4.0.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/viewport.jquery.js"></script>
    <script src="assets/js/odometer.min.js"></script>
    <script src="assets/js/vanilla-tilt.min.js"></script>
    <script src="assets/js/phosphor-icon.js"></script>
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <script src="assets/js/SplitText.min.js"></script>
    <script src="assets/js/ScrollToPlugin.min.js"></script>
    <script src="assets/js/lenis.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/image-lightbox.js?v=5"></script>
  </body>
</html>
