<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/images/favicon.webp" type="image/x-icon" />
    <title>Blog | Pioneer Flex</title>
    <meta
      name="description"
      content="Read Pioneer Flex notes on signage media, PVC processing, decorative films, and PVC tape applications."
    />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/fonts/css/all.min.css" />
    <link rel="stylesheet" href="assets/fonts/css/tabler-icons.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/nice-select.css" />
    <link rel="stylesheet" href="assets/css/odometer.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="assets/css/product.css" />
  </head>
  <body>
    <div class="page-wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/page-hero', {
        tag: '(Blog)',
        title: 'Pioneer journal and insights',
        text: 'Read practical notes on signage media, PVC processing, decorative films, and industrial product applications.',
        image: 'assets/images/banner/3.jpeg',
        buttonText: 'Read Articles',
        buttonLink: '#blog-list'
      }) %>

      <section class="journal-section pt-140 pb-140 bg-alt-2" id="blog-list">
        <div class="container-lg">
          <div class="row gutter-30">
            <% blogPosts.forEach((post) => { %>
              <div class="col-12 col-md-6 col-xl-3 fade-up">
                <%- include('../partials/blog-card', { post }) %>
              </div>
            <% }); %>
          </div>
        </div>
      </section>

      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
