<footer class="footer-three pt-140" style="background-color: #c0886033 !important">
  <div class="container-lg">
    <div class="row gutter-40">
      <div class="col-12 col-xl-5">
        <div class="footer-three__single footer-three__intro fade-up">
          <div class="footer__logo lh-0"><a href="/"><img src="assets/images/logo/logo.png" alt="Pioneer Flex" class="logo-ch" style="transform: translateX(-30px)" /></a></div>
          <p class="txt-light text-lg mt-25">Pioneer Polyleathers is a leading PVC processing company manufacturing signage, PVC tapes, decorative films, laminates, and industrial laminated products.</p>
          <div class="footer__item-row-single fade-up mt-40"><div class="footer__info"><p class="fw-5 text-uppercase">Opening hours:</p><p class="mt-6 txt-light">8:30am - 5pm</p></div></div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4">
        <div class="footer-three__single fade-up" data-delay="200">
          <div class="footer-three__single-intro"><h2 class="text-xxl fw-6 title-animation elicyon">Contact Us</h2></div>
          <ul class="footer-three__address">
            <li><p class="text-xl fw-6 text-uppercase mb-10">Decorative Film &amp; Laminates</p><a href="tel:+919289394411" class="text-xl">+91 92893 94411</a><a href="mailto:sks@pioneerflex.in" class="text-xl">sks@pioneerflex.in</a></li>
            <li><a href="https://share.google/VXsdMDrd6Z5UvhC7E" target="_blank" rel="noopener" class="text-xl">Head Office: Unit No. 102, Tower-D S-1 Floor, Urbtech Trade Centre, Sector-132, Noida-201304.</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <div class="footer-three__single fade-up" data-delay="400">
          <div class="footer-three__single-intro"><h2 class="text-xxl fw-6 title-animation elicyon">Website Links</h2></div>
          <ul class="footer-three__list mt-40">
            <li><a class="text-xl" href="/#about">About</a></li>
            <li><a class="text-xl" href="/#products">Products</a></li>
            <li><a class="text-xl" href="/wpc-louvers">PVC/WPC Louvers</a></li>
            <li><a class="text-xl" href="/e-catalogue">E-Catalogue</a></li>
            <li><a class="text-xl" href="https://www.powersafe.co.in/" target="_blank" rel="noopener">PVC Tapes</a></li>
            <li><a class="text-xl" href="/#gallery">Gallery</a></li>
            <li><a class="text-xl" href="/blog">Blog</a></li>
            <li><a class="text-xl" href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-three-bottom template-bg pt-25 pb-25 mt-140">
    <div class="container-lg"><div class="row align-items-center gutter-24">
      <div class="col-12 col-xl-4"><div class="social-icons"><a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a><a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a><a href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></div></div>
      <div class="col-12 col-xl-4"><div class="footer-three-bottom__innner text-center"><p class="txt-light text-lg fw-5 mt-0">&copy; 1986 - <span id="copyrightYear"></span> <a class="text-uppercase" href="/">Pioneer Flex</a>.</p></div></div>
      <div class="col-12 col-xl-4"><div class="footer-three-bottom__inner footer-three-bottom__inner-cn"><p class="txt-light text-lg fw-5"><a href="/contact-us">Terms &amp; Conditions</a></p><p class="txt-light text-lg fw-5"><button class="back-to-top" aria-label="Back to top">Back to Top <i class="ph ph-arrow-up"></i></button></p></div></div>
    </div></div>
  </div>
</footer>
