<header class="header header-three pioneer-header">
  <div class="container-lg">
    <div class="row">
      <div class="col-12">
        <div class="main-header__menu-box">
          <nav class="navbar p-0">
            <div class="navbar-logo">
              <a href="/" aria-label="Pioneer Flex home">
                <img src="assets/images/logo/logo-white.png" alt="Pioneer Flex" />
              </a>
            </div>
            <div class="navbar__menu-wrapper">
              <div class="navbar__menu d-none d-xl-block">
                <ul class="navbar__list">
                  <li class="navbar__item nav-fade"><a href="/">Home</a></li>

                  <li class="navbar__item navbar__item--has-children nav-fade">
                    <a href="/about-company" class="navbar__dropdown-label dropdown-label-alter">About Us</a>
                    <ul class="navbar__sub-menu">
                      <li><a href="/about-company">About Company</a></li>
                      <li><a href="/infrastructure">Infrastructure</a></li>
                    </ul>
                  </li>



                  <li class="navbar__item navbar__item--has-children nav-fade">
                    <a href="/#products" class="navbar__dropdown-label dropdown-label-alter">Products</a>
                    <ul class="navbar__sub-menu">
                      <li><a href="/pvc-decorative-louvers">PVC Decorative Films</a></li>
                      <li><a href="/pvc-wpc-interior-louvers">PVC/WPC Interior Louvers</a></li>
                      <li><a href="/wpc-doors-and-frames" >WPC Doors and Frames</a></li>
                       <li><a href="/pvc-wpc-baffles">PVC/WPC Baffles</a></li>
                    </ul>
                  </li>
                  
                   <li class="navbar__item nav-fade"><a href="/e-catalogue">E-Catalog</a></li>

                  <li class="navbar__item nav-fade"><a href="/gallery">Gallery</a></li>
                  <li class="navbar__item nav-fade"><a href="/blog">Blog</a></li>
                  <li class="navbar__item nav-fade"><a href="/contact-us">Contact Us</a></li>
                </ul>
              </div>
              <div class="navbar__options">
                <div class="navbar__mobile-options d-none d-sm-block">
                  <a class="btn-primary" href="/contact-us">
                    <span class="btn-animated-text" data-text="Get Quote">Get Quote</span>
                  </a>
                </div>
                <button class="open-offcanvas-nav d-flex d-xl-none" aria-label="Open mobile menu" title="Open mobile menu">
                  <span class="icon-bar top-bar"></span>
                  <span class="icon-bar middle-bar"></span>
                  <span class="icon-bar bottom-bar"></span>
                </button>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="mobile-menu d-block d-xxl-none" data-lenis-prevent>
  <nav class="mobile-menu__wrapper">
    <div class="mobile-menu__header nav-fade">
      <div class="logo">
        <a href="/" aria-label="Pioneer Flex home">
          <img src="assets/images/logo.svg" alt="Pioneer Flex" />
        </a>
      </div>
      <button aria-label="Close mobile menu" class="close-mobile-menu">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="mobile-menu__list"></div>
    <div class="mobile-menu__cta nav-fade d-block d-md-none">
      <a href="/contact-us" class="btn-primary w-100">
        <span class="btn-animated-text" data-text="Get Quote">Get Quote</span>
      </a>
    </div>
  </nav>
</div>
<div class="mobile-menu__backdrop"></div>
