/* === CTA solid/inverse states === */

.page-wrapper :is(.btn-primary, .btn-secondary, .btn-tertiary, .btn-quaternary, .btn-quinary, .btn-light-2) {
  .btn-animated-text {
    align-items: center;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    vertical-align: top;

    span {
      color: var(--white);
    }
  }

  &:hover {
    .btn-animated-text {
      background-color: var(--white);
      border-color: var(--primary-color);

      span {
        color: var(--primary-color);
      }
    }
  }
}
